@media screen and (min-width:1400px) and (max-width:1500px) {
    .teamManagment .teamMangement_ContentBox>img.beforeShape {
        right: -40px
    }

    .teamManagment .teamMangement_ContentBox>img.afterShape {
        left: -30px;
    }

    .connectAppSec .logoMetaLg .connectShapImg {
        right: -15px;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
    .carousel_Sec .bannerContentBox {
        padding-left: 5%;
    }

    .carousel_Sec .bannerContentBox>h2 {
        font-size: 65px;
    }

    .carousel_Sec .bannerContentBox p {
        font-size: 15px;
    }

    .appStoreBTN span {
        font-size: 13px;
    }

    .appStoreBTN h2 {
        font-size: 20px;
    }

    .appStoreBTN i {
        font-size: 36px;
    }

    .app_ProductSec .product_ImgBox img:nth-child(2) {
        width: 90%;
    }

    .product_ImgBox .productImgAfter {
        right: 0px;
    }

    .product_ImgBox .productImgBefore {
        left: 7%;
    }

    .headingSec h2 {
        font-size: 50px;
    }

    .clientFeedbackSec {
        padding: 190px 0;
    }

    .feedbackSliderCard p {
        width: 65%;
    }
}

@media screen and (min-width:1200px) and (max-width:1300px) {
    .teamManagment .teamMangement_ContentBox>img.beforeShape {
        right: -20px;
        width: 115px;
    }

    .teamManagment .teamMangement_ContentBox>img.afterShape {
        left: -10px;
    }

    .connectAppSec .logoMetaLg .connectShapImg {
        right: 0;
        min-width: 90px;
        bottom: -35px;
    }
}

@media screen and (min-width:1080px) and (max-width:1200px) {
    .carousel_Sec .bannerContentBox>h2 {
        font-size: 55px;
    }

    .carousel_Sec .bannerContentBox p {
        font-size: 14px;
    }

    .headerSec .cstmNavbar ul li a {
        font-size: 16px;
    }

    .carousel_Sec .bannerContentBox {
        padding-left: 30px;
        width: 60%;
    }

    .appStoreBTN h2 {
        font-size: 18px;
    }

    .appStoreBTN span {
        font-size: 14px;
    }

    .headingSec h2 {
        font-size: 45px;
    }

    .clientFeedbackSec {
        padding: 10% 0;
    }

    .feedbackSliderCard p {
        width: 65%;
        font-size: 16px;
    }
}

@media screen and (max-width:1080px) {
    .headerSec .cstmNavbar ul li a {
        font-size: 16px;
    }

    .btnBox .cstmBTN {
        padding: 7px 25px;
    }

    .carousel_Sec {
        height: 600px;
    }

    .carousel_Sec .bannerContentBox {
        padding-left: 30px;
        width: 60%;
    }

    .carousel_Sec .bannerContentBox>h2 {
        font-size: 45px;
    }

    .carousel_Sec .bannerContentBox p {
        font-size: 14px;
    }

    .appStoreBTN {
        padding: 7px 15px;
    }

    .appStoreBTN h2 {
        font-size: 18px;
    }

    .appStoreBTN span {
        font-size: 14px;
    }

    .appStoreBTN i {
        font-size: 36px;
    }

    .headingSec h2 {
        font-size: 36px;
    }

    .headingSec h2::before {
        background-size: 85px;
    }

    .headingSec p {
        font-size: 16px;
    }

    .managmentTabList ul li a {
        font-size: 18px;
    }

    .whychoose_Card .whychoose_ContentBox h2 {
        font-size: 20px;
    }

    .whychoose_Card .whychoose_ContentBox p {
        font-size: 16px;
    }

    .teamManagment .teamMangement_ContentBox>img.beforeShape {
        top: -30px;
        right: 0;
        width: 70px;
    }

    .teamManagment .teamMangement_ContentBox>img.afterShape {
        bottom: -30px;
        left: 0;
        width: 115px;
    }

    .connectAppSec .connectAppContentBox>h2 {
        font-size: 45px;
    }

    .connectAppSec .connectAppContentBox p {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .connectAppSec .logoMetaLg .connectShapImg {
        bottom: -25px;
        right: 0;
        min-width: 60px;
    }

    .clientFeedbackSec {
        padding: 10% 0;
    }

    .feedbackSliderCard p {
        font-size: 14px;
    }

    .feedbackSliderCard>h3 {
        font-size: 18px;
    }

    .mainSecMargin {
        margin: 100px 0px;
    }

    .appProductSecMargin {
        margin-top: 100px;
    }

    .product_ImgBox .productImgBefore {
        width: 70px;
        left: 7%;
    }

    .product_ImgBox .productImgAfter {
        width: 70px;
        bottom: -10px;
    }

    .footerSec {
        margin-top: 100px;
    }

    .cstmLogoMeta img {
        width: 70%;
    }

    .whychoose_Card>h3 {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    header.headerSec {
        padding: 15px 10px;
    }

    header.headerSec .headerRightBox {
        display: flex;
        width: auto;
        gap: 15px;
        flex-direction: row-reverse;
    }

    .cstmNavbar .navbar-collapse {
        position: absolute;
        background: #000;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 15px;
        border-bottom: 5px solid #fd6a5e;
    }

    .headerSec .cstmNavbar ul li a {
        text-align: center;
    }

    .cstmPortfolioCarousel .owl-nav {
        top: -85px;
    }

    .cstmNavbar button.navbar-toggler {
        border-color: #fff;
        padding: 5px 7px;
    }

    .cstmNavbar button.navbar-toggler span {
        background: url(../images/Menu.svg) no-repeat;
    }

    .cstmNavbar button.navbar-toggler:focus {
        box-shadow: unset;
    }

    .container {
        max-width: 95%;
    }

    .clientFeedbackSec {
        padding: 10% 0;
    }

    .feedbackSliderCard p {
        width: 68%;
        line-height: 35px;
    }

    .carousel_Sec {
        height: 460px;
    }

    .carousel_Sec .bannerContentBox {
        padding-left: 20px;
        width: 100%;
    }

    .carousel_Sec .bannerContentBox>h2 {
        font-size: 34px;
    }

    .carousel_Sec .bannerContentBox .bannerBTN {
        gap: 10px;
    }

    .appStoreBTN i {
        font-size: 26px;
    }

    .appStoreBTN span {
        font-size: 12px;
    }

    .appStoreBTN h2 {
        font-size: 16px;
    }

    .carousel_Sec .bannerContentBox .bannerBTN .seeIntroBTN {
        font-size: 14px;
    }

    .whychoose_Card {
        padding: 20px 20px 20px 20px;
    }

    .whychoose_Card .whychoose_ContentBox h2 {
        font-size: 18px;
    }

    .whychoose_Card .whychoose_ContentBox h2 {
        padding: 26px 0 10px;
    }

    .mainSecMargin {
        margin: 80px 0px;
    }

    .whychoose_Card .whychoose_ContentBox p {
        font-size: 14px;
    }

    .connectAppSec .connectAppContentBox>h2 {
        font-size: 30px;
    }

    .connectAppSec .logoMetaLg {
        height: 200px;
    }

    .connectAppSec .connectAppContentBox p {
        font-size: 14px;
    }

    .clientFeedback_SliderBox .headingSec {
        margin-bottom: 20px !important;
    }

    .headingSec h2 {
        font-size: 30px;
    }

    .footerCard>h2 {
        font-size: 18px;
    }

    .footerSec .cstmInnerContainer>img {
        left: 3%;
    }

    .footerCard .footerHyperLink {
        font-size: 16px;
    }

    .footerSec .copyright {
        font-size: 14px;
    }
}

@media screen and (min-width:768px) and (max-width:830px) {
    .clientFeedbackSec {
        padding: 9% 0;
    }

    .feedbackSliderCard p {
        width: 80%;
        line-height: 30px;
    }
}

@media screen and (max-width:768px) {
    .managmentTabList ul li a {
        padding: 25px 10px;
        font-size: 16px;
    }

    .managmentTabList ul li a span {
        width: 25px;
        height: 25px;
        min-width: 25px;
    }

    .teamManagment .teamMangement_ContentBox {
        margin-top: 50px;
    }

    .connectAppContentBox {
        text-align: center;
    }

    .cstmConnectFlexBox {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .connectAppSec .cstmLogoMeta {
        margin-bottom: 20px;
        height: 130px;
        margin-top: 0px !important;
        width: 100%;
    }

    .cstmLogoMeta img {
        width: 120px;
    }

    .connectAppSec .logoMetaLg .connectShapImg {
        display: none;
    }

    .clientFeedbackSec {
        padding: 0px;
    }

    .clientFeedback_SliderBox .feedbackCircle_AreaImg img {
        display: none;
    }

    .feedbackSliderCard p {
        width: 100%;
    }

    .footerSec .cstmInnerContainer {
        padding: 0 0 10px;
    }

    .footerCard {
        text-align: center;
        margin-bottom: 30px;
    }

    .footerSec .copyright {
        padding: 0px 0 0;
    }

    .footerSec .cstmInnerContainer>img {
        left: 0;
        width: 50%;
        bottom: -160px;
    }

    .footerCard ul li a {
        width: 35px;
        height: 35px;
    }

    .footerCard ul li a svg {
        width: 15px;
        height: 15px;
    }

    .carousel_Sec .bannerContentBox {
        padding-left: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:700px) {
    .carousel_Sec {
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
        gap: 20px;
    }

    .carousel_Sec .banner_ImgBox .bannerImg3 {
        display: none;
    }

    .carousel_Sec .bannerContentBox>h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 0px;
    }

    .carousel_Sec .bannerContentBox>h2 br {
        display: none;
    }

    .carousel_Sec .bannerContentBox p {
        text-align: center;
        margin-bottom: 0px;
    }

    .carousel_Sec .bannerContentBox .bannerBTN {
        justify-content: center;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:576px) {
    .carousel_Sec {
        flex-direction: column;
        height: auto;
        padding: 30px 0px;
        gap: 20px;
    }

    .carousel_Sec .banner_ImgBox .bannerImg3 {
        display: none;
    }

    .carousel_Sec .bannerContentBox>h2 {
        font-size: 34px;
        text-align: center;
        margin-bottom: 0px;
    }

    .carousel_Sec .bannerContentBox>h2 br {
        display: none;
    }

    .carousel_Sec .bannerContentBox p {
        text-align: center;
        margin-bottom: 0px;
    }

    .carousel_Sec .bannerContentBox .bannerBTN {
        justify-content: center;
        margin-bottom: 15px;
    }

    .footerSec .cstmInnerContainer>img {
        bottom: -115px;
    }

    .headingSec h2::before {
        content: '';
        display: none;
    }

    .managmentTabList ul {
        border: none;
    }

    .managmentTabList ul {
        flex-direction: column;
    }

    .managmentTabList ul li:first-child a,
    .managmentTabList ul li:nth-child(2) a,
    .managmentTabList ul li:last-child a {
        justify-content: center;
    }

    .btnBox .cstmBTN {
        padding: 7px 15px;
    }
}